<% content_for :page_title do %>
  编辑发文数据
<% end %>
<% content_for :page_subtitle do %>
  修改账号的发文信息
<% end %>

<div class="admin-card">
  <div class="admin-card-header">
    <div>
      <div class="admin-card-title">
        编辑发文数据
      </div>
      <div class="admin-card-subtitle">
        修改账号发文的详细信息
      </div>
    </div>
  </div>

  <%= render 'form' %>
</div>